# Ignored directories
/TryHackMe/Plantilla/
/.obsidian/
/.trash/

# Ignored Files
/TryHackMe/Triada CIA.md
/TryHackMe/Data representation.md
/TryHackMe/Criptografía.md
/TryHackMe/Network/Modelos de Internet/
/TryHackMe/TryHackMe — HTTP in Detail.md
/TryHackMe/Encodeo de datos.md

# Ignored file types
/*.json
/*.js
/*.png
